<div>
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="/gestion/ListParticipant">
                Consulter les participants
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/gestion/AjouterParticipant">
                Ajouter un participant
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/gestion/Evenement">
                Liste des événements
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/gestion/AjouterEvenement">
                Ajouter un événement
            </a>
        </li>
    </ul>
</div>
