    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(assets/login.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>

				<form class="login100-form validate-form" [formGroup]="LoginForum" (ngSubmit)="login()" noValidate>
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Email</span>
                        <input class="input100" type="email" id="email" placeholder="Enter your email" formControlName="email">
                        <span class="focus-input100"></span>
                        <div *ngIf="Emails && Emails.invalid && Emails.touched" class="alert alert-danger">
                            L'email est obligatoire
                            </div>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input  class="input100" type="password" id="password" placeholder="Enter your password" formControlName="password">
					<div *ngIf="Passwords && Passwords.invalid && Passwords.touched" class="alert alert-danger">
                        Le mot de passe est obligatoire
                    </div>
                        <span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
                        <button type="submit" [disabled]="LoginForum.invalid" class="login100-form-btn">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>